<section id="experience">
  <h2 class="text-4xl max-[426px]:text-3xl font-bold dark:text-white mb-16">
    {{ 'app.experience.title' | translate }}
  </h2>
  <div
    class="dark:bg-zinc-900/50 bg-[#ffffff40] p-6 rounded-2xl shadow-lg max-w-xl mt-6 dark:text-white transition-transform duration-300 hover:scale-105"
  >
    <h3 class="text-xl font-bold">{{ 'app.experience.title' | translate }}</h3>
    <p class="text-sm text-zinc-400 flex flex-row items-center gap-2">
      <img
        src="https://media.licdn.com/dms/image/v2/D4D0BAQHsRmI25Jmtfg/company-logo_200_200/company-logo_200_200/0/1722631093959/tyboc_s_l_logo?e=2147483647&v=beta&t=8JpmvvBO4PsbGpVo4vUxMO4cfHBOacj7ls_cgrHyxcU"
        alt="tyboc logo"
        class="rounded-lg w-[25px] h-[25px]"
        width="40px"
        height="40px"
      />Tyboc · 2024 - 2025
    </p>
    <ul class="list-disc mt-2 pl-5 text-sm">
      <li>{{ 'app.experience.card.p1' | translate }}</li>
      <li>{{ 'app.experience.card.p2' | translate }}</li>
      <li>{{ 'app.experience.card.p3' | translate }}</li>
    </ul>
    <div class="mt-8 flex flex-wrap gap-2">
      <span
        class="inline-flex items-center text-xs font-medium me-2 px-2.5 py-0.5 rounded-full border transition duration-200 ease-in-out bg-[#ffffff40]"
        style="
          background-color: rgb(215, 239, 208);
          color: rgb(51, 51, 51);
          border-color: rgb(68, 136, 62);
        "
        ><span class="me-1"
          ><svg
            viewBox="0 0 256 292"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="1em"
            height="1em"
          >
            <defs>
              <linearGradient
                id="a"
                x1="68.188%"
                x2="27.823%"
                y1="17.487%"
                y2="89.755%"
              >
                <stop offset="0%" stop-color="#41873F"></stop>
                <stop offset="32.88%" stop-color="#418B3D"></stop>
                <stop offset="63.52%" stop-color="#419637"></stop>
                <stop offset="93.19%" stop-color="#3FA92D"></stop>
                <stop offset="100%" stop-color="#3FAE2A"></stop>
              </linearGradient>
              <linearGradient
                id="c"
                x1="43.277%"
                x2="159.245%"
                y1="55.169%"
                y2="-18.306%"
              >
                <stop offset="13.76%" stop-color="#41873F"></stop>
                <stop offset="40.32%" stop-color="#54A044"></stop>
                <stop offset="71.36%" stop-color="#66B848"></stop>
                <stop offset="90.81%" stop-color="#6CC04A"></stop>
              </linearGradient>
              <linearGradient
                id="f"
                x1="-4.389%"
                x2="101.499%"
                y1="49.997%"
                y2="49.997%"
              >
                <stop offset="9.192%" stop-color="#6CC04A"></stop>
                <stop offset="28.64%" stop-color="#66B848"></stop>
                <stop offset="59.68%" stop-color="#54A044"></stop>
                <stop offset="86.24%" stop-color="#41873F"></stop>
              </linearGradient>
              <path
                id="b"
                d="M134.923 1.832c-4.344-2.443-9.502-2.443-13.846 0L6.787 67.801C2.443 70.244 0 74.859 0 79.745v132.208c0 4.887 2.715 9.502 6.787 11.945l114.29 65.968c4.344 2.444 9.502 2.444 13.846 0l114.29-65.968c4.344-2.443 6.787-7.058 6.787-11.945V79.745c0-4.886-2.715-9.501-6.787-11.944L134.923 1.832Z"
              ></path>
              <path
                id="e"
                d="M134.923 1.832c-4.344-2.443-9.502-2.443-13.846 0L6.787 67.801C2.443 70.244 0 74.859 0 79.745v132.208c0 4.887 2.715 9.502 6.787 11.945l114.29 65.968c4.344 2.444 9.502 2.444 13.846 0l114.29-65.968c4.344-2.443 6.787-7.058 6.787-11.945V79.745c0-4.886-2.715-9.501-6.787-11.944L134.923 1.832Z"
              ></path>
            </defs>
            <path
              fill="url(#a)"
              d="M134.923 1.832c-4.344-2.443-9.502-2.443-13.846 0L6.787 67.801C2.443 70.244 0 74.859 0 79.745v132.208c0 4.887 2.715 9.502 6.787 11.945l114.29 65.968c4.344 2.444 9.502 2.444 13.846 0l114.29-65.968c4.344-2.443 6.787-7.058 6.787-11.945V79.745c0-4.886-2.715-9.501-6.787-11.944L134.923 1.832Z"
            ></path>
            <mask id="d" fill="#fff"><use xlink:href="#b"></use></mask>
            <path
              fill="url(#c)"
              d="M249.485 67.8 134.65 1.833c-1.086-.542-2.443-1.085-3.529-1.357L2.443 220.912c1.086 1.357 2.444 2.443 3.8 3.258l114.834 65.968c3.258 1.9 7.059 2.443 10.588 1.357L252.47 70.515c-.815-1.086-1.9-1.9-2.986-2.714Z"
              mask="url(#d)"
            ></path>
            <mask id="g" fill="#fff"><use xlink:href="#e"></use></mask>
            <path
              fill="url(#f)"
              d="M249.756 223.898c3.258-1.9 5.701-5.158 6.787-8.687L130.579.204c-3.258-.543-6.787-.272-9.773 1.628L6.786 67.53l122.979 224.238c1.628-.272 3.529-.815 5.158-1.63l114.833-66.239Z"
              mask="url(#g)"
            ></path></svg></span
        >NodeJs</span
      ><span
        class="inline-flex items-center text-xs font-medium me-2 px-2.5 py-0.5 rounded-full border transition duration-200 ease-in-out"
        style="
          background-color: rgb(232, 245, 233);
          color: rgb(51, 51, 51);
          border-color: rgb(71, 162, 72);
        "
        ><span class="me-1"
          ><svg
            viewBox="0 0 256 549"
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            preserveAspectRatio="xMidYMid"
          >
            <path
              fill="#01EC64"
              d="M175.622 61.108C152.612 33.807 132.797 6.078 128.749.32a1.03 1.03 0 0 0-1.492 0c-4.048 5.759-23.863 33.487-46.874 60.788-197.507 251.896 31.108 421.89 31.108 421.89l1.917 1.28c1.704 26.234 5.966 63.988 5.966 63.988h17.045s4.26-37.54 5.965-63.987l1.918-1.494c.213.214 228.828-169.78 31.32-421.677Zm-47.726 418.05s-10.227-8.744-12.997-13.222v-.428l12.358-274.292c0-.853 1.279-.853 1.279 0l12.357 274.292v.428c-2.77 4.478-12.997 13.223-12.997 13.223Z"
            ></path></svg></span
        >MongoDB</span
      ><span
        class="inline-flex items-center text-xs font-medium me-2 px-2.5 py-0.5 rounded-full border transition duration-200 ease-in-out"
        style="
          background-color: rgb(246, 216, 218);
          color: rgb(51, 51, 51);
          border-color: rgb(221, 0, 49);
        "
        ><span class="me-1"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 242 256"
            width="1em"
            height="1em"
          >
            <g clip-path="url(#angular-clip-«r0»)">
              <mask
                id="angular-mask-«r0»"
                width="242"
                height="256"
                x="0"
                y="0"
                maskUnits="userSpaceOnUse"
                style="mask-type: luminance"
              >
                <path fill="#fff" d="M0 0h242v256H0V0Z"></path>
              </mask>
              <g mask="url(#angular-mask-«r0»)">
                <path
                  fill="url(#angular-gradient-c-«r0»)"
                  d="m241 43-9 136L149 0l92 43Zm-58 176-62 36-63-36 12-31h101l12 31ZM121 68l32 80H88l33-80ZM9 179 0 43 92 0 9 179Z"
                ></path>
                <path
                  fill="url(#angular-gradient-d-«r0»)"
                  d="m241 43-9 136L149 0l92 43Zm-58 176-62 36-63-36 12-31h101l12 31ZM121 68l32 80H88l33-80ZM9 179 0 43 92 0 9 179Z"
                ></path>
              </g>
            </g>
            <defs>
              <linearGradient
                id="angular-gradient-c-«r0»"
                x1="53.2"
                x2="245"
                y1="231.9"
                y2="140.7"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#E40035"></stop>
                <stop offset="0.2" stop-color="#F60A48"></stop>
                <stop offset="0.4" stop-color="#F20755"></stop>
                <stop offset="0.5" stop-color="#DC087D"></stop>
                <stop offset="0.7" stop-color="#9717E7"></stop>
                <stop offset="1" stop-color="#6C00F5"></stop>
              </linearGradient>
              <linearGradient
                id="angular-gradient-d-«r0»"
                x1="44.5"
                x2="170"
                y1="30.7"
                y2="174"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#FF31D9"></stop>
                <stop offset="1" stop-color="#FF5BE1" stop-opacity="0"></stop>
              </linearGradient>
              <clipPath id="angular-clip-«r0»">
                <path fill="#fff" d="M0 0h242v256H0z"></path>
              </clipPath>
            </defs></svg></span
        >Angular</span
      ><span
        class="inline-flex items-center text-xs font-medium me-2 px-2.5 py-0.5 rounded-full border transition duration-200 ease-in-out"
        style="
          background-color: rgb(255, 243, 224);
          color: rgb(51, 51, 51);
          border-color: rgb(243, 128, 32);
        "
        ><span class="me-1"
          ><svg
            viewBox="0 0 256 116"
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            preserveAspectRatio="xMidYMid"
          >
            <path
              fill="#FFF"
              d="m202.357 49.394-5.311-2.124C172.085 103.434 72.786 69.289 66.81 85.997c-.996 11.286 54.227 2.146 93.706 4.059 12.039.583 18.076 9.671 12.964 24.484l10.069.031c11.615-36.209 48.683-17.73 50.232-29.68-2.545-7.857-42.601 0-31.425-35.497Z"
            ></path>
            <path
              fill="#F4811F"
              d="M176.332 108.348c1.593-5.31 1.062-10.622-1.593-13.809-2.656-3.187-6.374-5.31-11.154-5.842L71.17 87.634c-.531 0-1.062-.53-1.593-.53-.531-.532-.531-1.063 0-1.594.531-1.062 1.062-1.594 2.124-1.594l92.946-1.062c11.154-.53 22.839-9.56 27.087-20.182l5.312-13.809c0-.532.531-1.063 0-1.594C191.203 20.182 166.772 0 138.091 0 111.535 0 88.697 16.995 80.73 40.896c-5.311-3.718-11.684-5.843-19.12-5.31-12.747 1.061-22.838 11.683-24.432 24.43-.531 3.187 0 6.374.532 9.56C16.996 70.107 0 87.103 0 108.348c0 2.124 0 3.718.531 5.842 0 1.063 1.062 1.594 1.594 1.594h170.489c1.062 0 2.125-.53 2.125-1.594l1.593-5.842Z"
            ></path>
            <path
              fill="#FAAD3F"
              d="M205.544 48.863h-2.656c-.531 0-1.062.53-1.593 1.062l-3.718 12.747c-1.593 5.31-1.062 10.623 1.594 13.809 2.655 3.187 6.373 5.31 11.153 5.843l19.652 1.062c.53 0 1.062.53 1.593.53.53.532.53 1.063 0 1.594-.531 1.063-1.062 1.594-2.125 1.594l-20.182 1.062c-11.154.53-22.838 9.56-27.087 20.182l-1.063 4.78c-.531.532 0 1.594 1.063 1.594h70.108c1.062 0 1.593-.531 1.593-1.593 1.062-4.25 2.124-9.03 2.124-13.81 0-27.618-22.838-50.456-50.456-50.456"
            ></path></svg></span
        >Cloudflare</span
      ><span
        class="inline-flex items-center text-xs font-medium me-2 px-2.5 py-0.5 rounded-full border transition duration-200 ease-in-out"
        style="
          background-color: rgb(251, 233, 231);
          color: rgb(51, 51, 51);
          border-color: rgb(240, 80, 50);
        "
        ><span class="me-1"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid"
            viewBox="0 0 256 256"
            width="1em"
            height="1em"
          >
            <path
              d="M251.17 116.6 139.4 4.82a16.49 16.49 0 0 0-23.31 0l-23.21 23.2 29.44 29.45a19.57 19.57 0 0 1 24.8 24.96l28.37 28.38a19.61 19.61 0 1 1-11.75 11.06L137.28 95.4v69.64a19.62 19.62 0 1 1-16.13-.57V94.2a19.61 19.61 0 0 1-10.65-25.73L81.46 39.44 4.83 116.08a16.49 16.49 0 0 0 0 23.32L116.6 251.17a16.49 16.49 0 0 0 23.32 0l111.25-111.25a16.5 16.5 0 0 0 0-23.33"
              fill="#DE4C36"
            ></path></svg></span
        >Git</span
      >
    </div>
  </div>
  <p class="mt-16 dark:text-neutral-400 italic text-sm">
    {{ 'app.experience.note' | translate }}
  </p>
</section>
